<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websocket Demo</title>
</head>
<body>
    <div style="padding: 20px;">
        <div><button id="send">Send</button></div>
        <div id="show"></div>
    </div>
    <script type="text/javascript">
        var ws = new WebSocket('ws://' + location.hostname + ':2347/chat?s=what&sign=abcdefghijklmn');

        ws.onopen = function(e) {
            console.log('websocket connected.');
        };

        ws.onmessage = function(e) {
            document.getElementById("show").innerHTML = 'websocket get message: ' + e.data;
        };

        ws.onclose = function(e) {
            console.log('websocket closed.');
        };

        document.getElementById("send").onclick = function() {
            ws.send("Hello World " + Math.random());
        };
    </script>
</body>
</html>